/*GLOBAL*/
Body {
font-family: verdana;
}
}
 
/*MOBILE*/
@media (max-width: 767)
nav {
width: 100%;
}
}
 
@media (min-width: 768) and (max-width: 979)
img {
width: 33,33%
}
}

*{
    box-sizing: border-box;
}

h1, h3 {text-align: center;}
